
@{
    ViewBag.Title = "Categorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="">Mantenimiento</a></li>
    <li class="breadcrumb-item active"><a href="">Categorías</a></li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i>Lista de Categorías
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="openModal(null)">Crear Nuevo</button>
            </div>
        </div>
        <hr />
        <table id="table" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Activo</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">

                <input id="txtid" type="hidden" value="0" />
                <div class="row g-1">

                    <div class="col-sm-6">
                        <label for="txtdescripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="txtdescripcion" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select class="form-select" id="cboactivo">
                            <option value="1">Si</option>
                            <option value="0">No</option>

                        </select>
                    </div>



                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="messageError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="save()"> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        var datatable;
        var selectedRow;

        datatable = $("#table").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                 url: '@Url.Action("ListProductCategory", "Maintenance")',
                type: 'GET',
                dataType: 'json'
            },
            "columns": [
                { "data": "Descripcion" },
                {
                    "data": "Activo", "render": function (data) {

                        if (data) {

                            return '<span class="badge bg-success">Si</span>'

                        } else {

                            return '<span class="badge bg-danger">No</span>'

                        }
                    },
                    "width": "90px"
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-edit"> <i class="fas fa-pen me-1"></i></button>  ',
                    "orderable": false,
                    "searchable": false,
                    "width": "80px"
                }

            ],
            "language": {
               "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
            }

        });

        function openModal(json) {



            $("#txtid").val(0)
            $("#txtdescripcion").val("")
            $("#cboactivo").val(1)
            $("#messageError").hide()


            if (json != null) {

                $("#txtid").val(json.IdCategoria)
                $("#txtdescripcion").val(json.Descripcion)
                $("#cboactivo").val(json.Activo == true ? 1  : 0)

            }

            $("#formModal").modal("show");
        }

        $("#table tbody").on("click", ".btn-edit", function () {

             selectedRow = $(this).closest("tr")
            var data = datatable.row(selectedRow).data()

            openModal(data)
        })



        $("#table tbody").on("click", ".btn-delete", function () {

            var selectedProductCategory = $(this).closest("tr")
            var data = datatable.row(selectedProductCategory).data()


            swal({
                title: "Esta Seguro?",
                text: "¿Desea eliminar la Categoria?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true

            },
                function () {

                jQuery.ajax({
                url: '@Url.Action("DeleteProductCategory", "Maintenance")',
                type: "POST",
                data: JSON.stringify({ id: data.IdCategoria }),
                dataType: "json",
                contentType: "application/json; charset-utf-8",
                success: function (data) {

                    if (data.result) {

                        datatable.row(selectedProductCategory).remove().draw()
                    } else {
                        swal("No se pudo eliminar", data.message, "error")
                    }



                },
                error: function (error) {
                    console.log(error)
                }

            });
                })
        })

        function save() {

            var productcategory = {

                IdCategoria: $("#txtid").val(),
                Activo: $("#cboactivo").val() == 1 ? true: false ,
                Descripcion: $("#txtdescripcion").val()

            }
            jQuery.ajax({
                url: '@Url.Action("StoredProductCategory", "Maintenance")',
                type: "POST",
                data: JSON.stringify({ obj: productcategory }),
                dataType: "json",
                contentType: "application/json; charset-utf-8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide")

                    if (productcategory.IdCategoria == 0) {

                        if (data.result != 0) {
                            productcategory.IdCategoria = data.result;
                            datatable.row.add(productcategory).draw(false);
                            $("#formModal").modal("hide");

                        } else {

                            $("#messageError").text(data.message)
                            $("#messageError").show()
                        }

                    }
                    else {

                        if (data.result) {

                            datatable.row(selectedRow).data(productcategory).draw(false)
                            selectedRow = null;
                            $("#formModal").modal("hide");

                        } else {

                            $("#messageError").text(data.message)
                            $("#messageError").show()

                        }
                    }



                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide")
                    $("#messageError").text("Error Ajax")
                    $("#messageError").show()

                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando....",
                        size: 14
                    })
                }

            });



        }


    </script>
}

