
@{
    ViewBag.Title = "Paymentmade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-sm-12 text-center">
        <br /><br />

        @{
            if ((bool)ViewData["Status"])
            {
                <h1 class="text-success">Gracias!</h1>
                <i class="far fa-check-circle fa-9x text-success"></i>

                <h2 class="text-success"> Su pago fue realizado con exito</h2>
                <h4>ID de Transaccion: @ViewData["IdTransaccion"]</h4>

                <br />
                <a href="@Url.Action("Index","Shop")" class="btn btn-primary">Volver a la Tienda</a>

            }
            else
            {
                <h1 class="text-danger">Lo sentimos</h1>

                <i class="fas fa-exclamation fa-9x text-danger"></i>
                <br />
                <a href="@Url.Action("Index","Shop")" class="btn btn-primary">Volver a la Tienda</a>

            }
        }
    </div>

</div>
